<h2>Welcome to the world of online the sex toy</h2><br/><br/>


<% if !user_signed_in? %>
	<div class="row-fluid">
		<div class="span4 button_text"><%= link_to('<button class="btn btn-large btn-block" type="button">Presenter Login</button>'.html_safe, new_user_session_path) %></div>
		<div class="span4 offset4 button_text"><%= link_to('<button class="btn btn-large btn-block btn-primary" type="button">Client Login</button>'.html_safe, new_main_path) %></div>
	</div>	

<% else %>
	<% if @userdetail.url == "" %>
		Please give us some time to update your device url.
	<% else %>
		
		Click <%= link_to "here",  userdetail_url(@userdetail) + "?passcode=" + @userdetail.passcode.to_s %> to test the URL and then send it to your client <br/><br/>

		<div class="well">Your User ID: <%= @userdetail.user.id %><br/>
		Your passcode: <%= @userdetail.passcode %><br/>
		Active url: <%= url_field_tag 'Active URL', nil , :value => userdetail_url(@userdetail) + "?passcode=" + @userdetail.passcode.to_s, :class => "span6", :onclick => 'this.select();' %> <small>(Click inside and  <cite title="Ctrl+C">Ctrl+C</cite> to copy the URL)</small></div>
	

		<h4>Regenerate the URL:</h4>

		<%= form_for @userdetail, :method => :put do |f| %>
	 		<%= f.submit "Regenerate URL" %>
		<% end %>
		<div class="well well-small">
			<h2>Info:</h2>
			To ensure privacy of your device, please click on <strong>regenerate</strong> button after you have completed a hot session with your sweetheart.
		</div>	

	<% end %>
<% end %>	



