<% if @userdetail.url.nil? or @userdetail.url == "" %>
	<div class="well well-small">
		A device is not been allocated yet. Contact admin to allocate a device to you.
	</div>	
<% else %>
	<div class="well well-small">
		<!--Welcome to the world of <strong><%= @userdetail.firstname + " " + @userdetail.lastname%></strong>. <br/>-->
		Welcome to teledildonics access page!<br/>
		Play around with the buttons below to change the speed of <%= @userdetail.firstname %>'s edildo.
	</div>
	<div class="well well-small">

		<%= button_to "Switch-On", userdetail_button_action_path(@userdetail, :value => "1"), :method => "post", :remote => true, :disable_with => 'loading...', :class => "btn btn-large btn-primary btn-success" %>

		<%= button_to "Speed-2", userdetail_button_action_path(@userdetail, :value => "2"), :method => "post", :remote => true, :disable_with => 'loading...', :class => "btn btn-large btn-primary btn-info" %>

		<%= button_to "Speed-3", userdetail_button_action_path(@userdetail, :value => "3"), :method => "post", :remote => true, :disable_with => 'loading...', :class => "btn btn-large btn-primary btn-info" %>

		<%= button_to "Speed-4", userdetail_button_action_path(@userdetail, :value => "4"), :method => "post", :remote => true, :disable_with => 'loading...', :class => "btn btn-large btn-primary btn-info" %>

		<%= button_to "Speed-5", userdetail_button_action_path(@userdetail, :value => "5"), :method => "post", :remote => true, :disable_with => 'loading...', :class => "btn btn-large btn-primary btn-info" %>

		<%= button_to "Speed-6", userdetail_button_action_path(@userdetail, :value => "6"), :method => "post", :remote => true, :disable_with => 'loading...', :class => "btn btn-large btn-primary btn-info" %>

		<%= button_to "Switch-Off", userdetail_button_action_path(@userdetail, :value => "0"), :method => "post", :remote => true, :disable_with => 'loading...', :class => "btn btn-large btn-primary btn-danger" %>

	</div>

<% end %>